html{
    font: "Arial";
    font-size: 10px;
    background: url(http://p4.itc.cn/images03/20200524/7bd540108cfa4051aa5cf41390fe73a9.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    background-color: blue;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 4rem;
}
th,tr{
    border: 1px solid no color;
}
table{
    margin:auto;
}
h3{
    background-color: blue;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 4rem;
}